.form {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 16px;
}

.text {
  font-size: 32px;
  font-weight: bold;
}

.icon {
  font-size: 64px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button {
  height: 50px;
}
