.form {
  max-width: 370px;
  margin: 0 auto;
  padding-top: 16px;
}

.text {
  font-size: 32px;
  font-weight: bold;
}

.icon {
  font-size: 40px;
  padding-top: 8px;
  padding-bottom: 24px;
}

.button {
  height: 50px;
}
